:root {
    --header-color: #000000;
    --text-color: #52525A;
    --background-color: #FFFFFF;
    --container-color: #F3F4F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0 12px;
}

.headline {
    font-size: 2rem;
    color: var(--header-color);
    font-weight: 600;
    margin: 16px 0;
}

h2 {
    font-size: 1.25rem;
    color: var(--header-color);
    font-weight: 600;
    margin: 32px 0 12px;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 32px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.bento {
    background-color: var(--container-color);
    border-radius: 8px;
    display: grid;
}

.box {
    background-color: var(--background-color);
    box-shadow: 0 1px 1px var(--text-color);
    border-radius: 8px;
    margin: 24px;
    padding: 24px;
}

.bento-image {
    width: 100%;
}

.box:last-child {
    margin-bottom: 60px;
}
