:root {
    --header-color: #000000;
    --text-color: #52525A;
    --background-color: #FFFFFF;
    --container-color: #F3F4F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0 10px;
    padding-bottom: 32px;
}

.logo {
    width: 25px;
}

.headline {
    font-size: 2rem;
    color: var(--header-color);
    font-weight: 600;
    margin: 16px 0;
}

h2 {
    font-size: 1.25rem;
    color: var(--header-color);
    font-weight: 600;
    margin: 32px 0 12px;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.bento {
    background-color: var(--container-color);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px;
    gap: 24px;
}

.box {
    background-color: var(--background-color);
    box-shadow: 0 1px 1px var(--text-color);
    border-radius: 16px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;
}

.bento-image {
    width: 100%;
    
}


@media screen and (min-width: 700px) {
    .header {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 40px;
        padding-bottom: 0;
    }

    h2 {
        margin: 0 0 12px 0;
    }
    .bento-image {
        max-width: 100%;
        display: block;
        height: auto;
    }

    /*BENTO SPACING*/

    /* OUTER LAYER */
    .bento {
        grid-template-columns: repeat(2, 1fr);
        padding: 24px;
        gap: 24px;
    }
    /*ALL BOXES*/
    .box {
        margin: 0;
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img" 
        "text";
    }

    /*ODD FLIP*/
    .box:first-child {
        grid-template-areas: 
        "text" 
        "img";
    }

    /*BOX 1, 2*/
    .one, .two {
        grid-column: span 1;
    }

    /*BOX 3-5*/
    .three, .five {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 66% 34%;
        grid-template-areas: 
            "text img";
        align-items: center;
        gap: 16px;
    }

    .four {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 34% 66%;
        grid-template-areas: 
            "img text";
        align-items: center;
        gap: 16px;
    }

    .bento-text {
        grid-area: text;
    }

    .bento-image {
        grid-area: img;
    }

}

@media screen and (min-width: 1100px) {
    .header {
        width: 40%;
    }

    .bento {
        grid-template-columns: repeat(6, 1fr)
    }

    .one, .two {
        grid-column: span 2;
    }
    .three {
        grid-column: span 2;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: "text" "img";
    }

    .four, .five {
        grid-column: span 3;
        grid-template-areas: "text img";
        grid-template-columns: 1fr 1fr;
    }

    .bento-text {
        grid-area: text;
    }

    .bento-image {
        grid-area: img;
    }
}